<a href="https://colab.research.google.com/github/ruchanimbalkar/PythonBasics/blob/main/PrintFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Print Function
**The print function prints what is in the parenthesis**
print()

In [ ]:
print?

#Comments in Python

In [ ]:
#comments in python are to describe the code and/or to hide the code (from compiler interpreter)
print("This is the print function") #This is the print function.
#print("MESSAGE")#This line of code is hidden from compiler/interpreter. It is treated as a comment and ignored.

This is the print function

In [ ]:
#print function prints the literal in the parenthesis on the console
print("print( 'Hello World')")

print( 'Hello World')

In [ ]:
#print 'Hello World!' in Python.
print("'Hello World!'")
#print "Hello World!" in Python.
print('"Hello World!"')
#print Hello World in Python
print("Hello World!")
#print Hello 'World'! in Python
print("Hello 'World'!")

'Hello World!'
"Hello World!"
Hello World!
Hello 'World'!

#How to print quotation marks using backslash?

In [ ]:
print("My name is \"Rucha\" ")

My name is "Rucha"

In [ ]:
# print 100 in python
print(100)
print("100")
print('100')

100
100
100

In [ ]:
#print 3.14 in python
print(3.14)
print("3.14")
print('3.14')

3.14
3.14
3.14

#Print boolean (True and False) values

In [ ]:
#print True (boolean value) in python
print (True)
#print False (boolean value) in python
print(False)

True
False

#Print None Datatype

In [ ]:
#print None datatype using print function
print(None)

None

#If you try to print a string without quotation marks in Python, it gives you error

In [ ]:
#print(Hello World!)#uncomment and run to see error
Hello_World = "Hello World!"
print(Hello_World)

Hello World!

#Printing multiple values in the print function
**using the comma (,) between values**

The print() method can take multiple parameters separated by commas.

In [ ]:
print(100,3.14,True)

100 3.14 True

In [ ]:
print("Hey", "Hello", 4.98, 1000, True, None)

Hey Hello 4.98 1000 True None

#Print a multi-line paragraph

In [ ]:
#print a multi-line paragraph with new lines
#This can be dine using """ Three double quotes""" or three single quotes (I used the plot summary of the Batman TV series)
print("""The series opens at the Republic of Moldavia exhibit,
located at the Gotham City World's Fair, the Moldavian prime
minister slices into the Moldavian friendshipcake and unknowingly
causes it to explode, releasing a concealed riddle. At the Gotham
City Police Department, Police Commissioner James Gordon (Neil
Hamilton)and Chief Miles O'Hara(Stafford Repp) suspect it to
be the Riddler (Gorshin). """)
print()
print('''They turn to Inspector Bash and all the other senior policemen,
but all bow their heads for a moment of silence, they turn to a red phone
("I don't know who he is behind that mask of his, but I do know when
we need him and we need him now!"). After a glimpse into the lives of
Bruce Wayne (Adam West) and Dick Grayson (Burt Ward) as well as the
opening credits, the riddle leads them as Batman and Robin to the Peale
art gallery, where they catch the Riddler in the act of taking a cross
from its proprietor Gideon Peale at gunpoint. ''')

The series opens at the Republic of Moldavia exhibit,
located at the Gotham City World's Fair, the Moldavian prime
minister slices into the Moldavian friendshipcake and unknowingly
causes it to explode, releasing a concealed riddle. At the Gotham
City Police Department, Police Commissioner James Gordon (Neil
Hamilton)and Chief Miles O'Hara(Stafford Repp) suspect it to
be the Riddler (Gorshin).

They turn to Inspector Bash and all the other senior policemen,
but all bow their heads for a moment of silence, they turn to a red phone
("I don't know who he is behind that mask of his, but I do know when
we need him and we need him now!"). After a glimpse into the lives of
Bruce Wayne (Adam West) and Dick Grayson (Burt Ward) as well as the
opening credits, the riddle leads them as Batman and Robin to the Peale
art gallery, where they catch the Riddler in the act of taking a cross
from its proprietor Gideon Peale at gunpoint.

In [ ]:
print?

#Print sep and end in print
The print function by default uses space ('') to separate values.
After the last value, the string '\n' (new line) is appended.

In [ ]:
print(100, 200)
print(True)

100 200
True

In [ ]:
#let us try specific values for the separator (sep)
print(100,200, sep='+')
print(True, False, sep="/")
print(1000, 500, sep='-')
print(1000,500, sep='\n')#if you want to print multiple values using one print function but on new lines, this value for sep is useful

100+200
True/False
1000-500
1000
500

In [ ]:
#We know by default the value for end = '\n'
print(1,2,3)
print(4,5,6)
print(7,8,9)

1 2 3
4 5 6
7 8 9

In [ ]:
#let us try sepcific values for end("/"")
print(1,2,3,end='/')
print(4,5,6)

1 2 3/4 5 6

In [ ]:
#let us try sepcific values for end(" ")
print(1,2,3,end=" ")
print(4,5,6, end=" ")
print(7,8,9)

1 2 3 4 5 6 7 8 9

In [ ]:
#let us try sepcific values for end "_"
print(1,2,3,end="_")
print(4,5,6,end="_")
print(7,8,9)

1 2 3_4 5 6_7 8 9

In [ ]:
#let us try specific values for both sep and end
#To print 1_2_3_4_5_6_7 sep="_" (in all the three print function statements) and end="_" (in the top two print function statements)
print(1,2,3,sep="_",end="_")
print(4,5,6,sep="_",end="_")
print(7,8,9,sep="_")

1_2_3_4_5_6_7_8_9

#Let us try printing
1
2
3 4+5+6%7-8-9
**using different values for sep and end**

In [ ]:
#Let's try printing
# 1
#2
#3 4+5+6%7-8-9
print(1,2,3, sep="\n", end=" ")
print(4,5,6, sep="+", end="%")
print(7,8,9,sep="-")

1
2
3 4+5+6%7-8-9

#How to print backslash using print function?
**\**

In [ ]:
print("\\")

\

#Trying a different value for the flush parameter

In [ ]:
print(1,2,3)
print("Hi, There", flush=True)
print(7,8,9)
#Will come back to this soon

1 2 3
Hi, There
7 8 9